.add-product{
    min-width: 100vw;
    max-width: calc(100vw - 15px);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0 1.8rem;
    box-sizing: border-box;
}